@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  padding: 0;
  margin: 0;
  /*  box-sizing: border-box;*/
}
:root {
  --almostWhite: #fafafa;
  --mediumGray: #696969;
  --almostBlack: #141414;
}
body {
  font-family: "Epilogue", sans-serif;
  color: var(--mediumGray);
  font-size: 18px;
  font-weight: 500;
  background-color: var(--almostWhite);
}
.contenedor {
  display: grid;
  grid-template-areas:
    "n"
    "m";
  grid-template-rows: auto;
  margin: auto;
  max-width: 1200px;
  width: 95%;
  grid-gap: 5px;
}
.navBar {
  grid-area: n;
  padding: 2% 5px 4%;
  display: flex;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu ul {
  display: flex;
  list-style: none;
}
.menu li {
  margin-left: 20%;
  color: var(--mediumGray);
  cursor: pointer;
}
.menu li:hover {
  color: var(--almostBlack);
}
.menu li:active {
  color: var(--almostBlack);
}
.boton {
  padding: 10px 15px;
  color: var(--mediumGray);
  cursor: pointer;
}
.boton:hover {
  color: var(--almostBlack);
}
.boton:active {
  color: var(--almostBlack);
}
.registrer {
  border: solid;
  border-color: var(--almostWhite);
}
.registrer:hover {
  border: solid;
  border-radius: 15px;
  border-color: var(--almostBlack);
}
.main {
  display: flex;
}
.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px 5%;
  margin-right: 15px;
}
.text h1 {
  font-size: 80px;
  font-weight: 800;
  color: var(--almostBlack);
}
.text p {
  padding: 3% 10% 5% 0;
}
.more {
  color: var(--almostWhite);
  background-color: var(--almostBlack);
  width: 150px;
  text-align: center;
  padding: 10px 25px;
  border-radius: 15px;
  border: solid;
  border-color: var(--almostBlack);
}
.more:hover {
  background-color: var(--almostWhite);
  color: var(--almostBlack);
}
.promo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.promo img {
  object-fit: cover;
  margin: 2%;
  width: 75px;
}
.portrait {
  width: 50%;
}
.portrait img {
  width: 100%;
  float: right;
}
@media screen and (max-width: 838px) {
  .menu {
    display: none;
  }
  .main h1 {
    font-size: 47px;
  }
  .text {
    width: 40%;
  }
  .portrait {
    width: 60%;
  }
}
@media screen and (max-width: 414px) {
  .navBar {
    padding: 5% auto;
  }
  .main {
    flex-direction: column-reverse;
  }
  .menu {
    display: none;
  }
  .text {
    padding: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .text h1 {
    padding: 2% 0;
  }
  .text p {
    padding: 2% 0;
  }
  .portrait {
    width: 100%;
  }
  .more {
    margin: 5% 0;
  }
}
